# 데이터 타입
`None`, 숫자, 순서열, 매핑, 집합


## 타입 목록

### 숫자
- 정수: `int`
- 실수: `float`
- 복소수: `complex`
- `bool` (숫자처럼 작동)

### 순서열
- str  
  `"hello, world!"`
- list  
  `[1, 2, 3]`
- tuple  
  `(3, 5, 1)`
- range  
  `range(1, 100)`

### 매핑
- dict

### 집합
- set
- frozenset

## 숫자

In [140]:
print(type(None)) # 첫 글자만 대문자: none(X)
print(type(3))
print(type(3.14))
print(type(3 + 0.14j))
print(type(True), type(False))

<class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'> <class 'bool'>

## 순서열

In [141]:
s = 'abcdefg' # 문자열(readonly)
print(type(s))
print(s[2])

print(type([1, 3, 'a', 'c', True])) # 리스트(mutable)

print(type((1, 3, 'a', 'c', True))) # 튜플(readonly)

print(type(range(1, 10, 4))) # 범위
for i in range(2, 30, 6):
  print(i, end = " ")

<class 'str'>
c
<class 'list'>
<class 'tuple'>
<class 'range'>
2 8 14 20 26

### 문자열

In [142]:
a = "Python"
b = 'Python'
c = "3.4"
# print(1 + c)
print("It's python")
print('"Hello, world!"\nthe teacher said.')
print('nested quote: it\'s him')

print('''
  Life is too short, you need Python.
  Hello world
''')

print('--------------------------')
print(a + b)
print(c * 5)
print('-' * 30)

# unpack(destructuring)
x, y, z = 'abc'
print(x, y, z, sep = ', ')

It's python
"Hello, world!"
the teacher said.
nested quote: it's him

  Life is too short, you need Python.
  Hello world

--------------------------
PythonPython
3.43.43.43.43.4
------------------------------
a, b, c

### 리스트

In [143]:
# dict, list, set: collection
a = [31, 28, 31, 30, 31, 30, 31, 30, 31, 30, 31]
print(a)
a[1] = 29
print(a)
b = [2018, 'FIFA', 'WorldCup', [11, 29]]
print(b)
c = []
print(c)
d = list()
print(type(d))
print(b * 3)
print(a + b + c + d)
print(b[1][0])

[31, 28, 31, 30, 31, 30, 31, 30, 31, 30, 31]
[31, 29, 31, 30, 31, 30, 31, 30, 31, 30, 31]
[2018, 'FIFA', 'WorldCup', [11, 29]]
[]
<class 'list'>
[2018, 'FIFA', 'WorldCup', [11, 29], 2018, 'FIFA', 'WorldCup', [11, 29], 2018, 'FIFA', 'WorldCup', [11, 29]]
[31, 29, 31, 30, 31, 30, 31, 30, 31, 30, 31, 2018, 'FIFA', 'WorldCup', [11, 29]]
F

### 튜플

In [144]:
a = (31, 28, 31, 30, 31, 30, 31, 30, 31, 30, 31)
print(type(a))

b = 1, 2, 3
print(type)

<class 'tuple'>
<class 'type'>

In [145]:
c, d, e = b
print(c, d, e, sep = '\t')

1	2	3

In [146]:
f = ()
print(type(f))

<class 'tuple'>

In [147]:
g = (1)
print(type(g))
g = (1,)
print(type(g))
g = ((1))
print(type(g))

<class 'int'>
<class 'tuple'>
<class 'int'>

### 범위

In [148]:
a = range(1, 5) # start, stop
print([i for i in a])

[1, 2, 3, 4]

In [149]:
a = range(1, 10, 3) 
print([i for i in a])

[1, 4, 7]

In [150]:
a = range(3)
print([i for i in a])

[0, 1, 2]

## 순서열 연산

In [151]:
# 설정
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 공통 연산

In [152]:
# 색인 연산
print(l[3])
print(l[-2])

3
8

In [153]:
# 분할 연산
print(l[1:3])
print(l[1:7:2]) # start:stop:stride
print(l[:4]) # 처음부터 4까지
print(l[5:]) # 5에서 끝까지
print(l[-4:])
print(l[:])
print(l[:-3])
print(l[::-2])

[1, 2]
[1, 3, 5]
[0, 1, 2, 3]
[5, 6, 7, 8, 9]
[6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[9, 7, 5, 3, 1]

In [154]:
print(len(l)) # 원소의 개수
print(min(l))
print(max(l))
print(sum(l))

10
0
9
45

In [155]:
print(3 in l)
print(13 in l)
print(17 not in l)
print('py' in 'python')

True
False
True
True

In [156]:
print(l)
l[1] = 7
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 7, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
l[1:3] = 7, 8, 9
print(l)

[0, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9]

In [158]:
l = l + [10]
l[1:4] = [1, 4, 5, 6, 9]
print(l)

[0, 1, 4, 5, 6, 9, 3, 4, 5, 6, 7, 8, 9, 10]

In [161]:
# 삭제
del l[2]
print(l)

[0, 1, 5, 6, 9, 3, 4, 5, 6, 7, 8, 9, 10]

In [162]:
# 비교: 순서대로 비교
s = [1, 2, 3, 4]
t = [2, 4, 6]
print(s > t)

False

In [ ]:
s = 'abcd'
t = 'Acd'
print(s > t)

## 매핑

In [159]:
# dict
print(type({
  'name': 'lhwdev',
  'age': 18,
  'gender': 'M'
}))

<class 'dict'>

## 집합

In [160]:
print(type({1, 2, 3, 4, 5}))
print(type(frozenset({1, 2, 3, 4, 5})))

s = {1, 1, 1, 2, 5, 'a', 'a', 'hello'}
print(s)

<class 'set'>
<class 'frozenset'>
{'a', 1, 2, 5, 'hello'}