# for 문
``` python
for 반복변수 in 순서열:
  코드블록
```

In [ ]:
for i in 'Hello':
  print(i, end=' ')

H e l l o

In [ ]:
for i in [1, 3, 5, 7, 9]:
  print(i, end=' ')

1 3 5 7 9

In [ ]:
for i, j in [[1, 2], [3, 4], [5, 6]]:
  print(i, j)

1 2
3 4
5 6

In [ ]:
for i, j in [[1, 2], [3, 4], [5, 6, 7]]:
  print(i, j) # 개수가 딱 맞아야 함

1 2
3 4

ValueError: ignored

In [ ]:
for i in range(1, 10, 2):
  print(i, end = ' ')

1 3 5 7 9

## 내장함수들

In [ ]:
for i, x in enumerate([1, 3, 5, 7, 9]):
  print(i, x)

0 1
1 3
2 5
3 7
4 9

In [ ]:
s = [1, 3, 5, 7, 9]
t = [2, 4, 6, 8]
for x, y, in zip(s, t): # 원소의 길이가 짧은 쪽에 맞춤.
  print(x, y)

1 2
3 4
5 6
7 8

### 과제
위 코드를 while 문을 사용하여 동일한 결과가 출력되도록 코드를 작성하시오.
단, zip을 사용하지 말 것!

In [ ]:
s = [1, 3, 5, 7, 9]
t = [2, 4, 6, 8]
i = 0
while True:
  if i >= len(s) or i >= len(t): break
  print(s[i], t[i])
  i += 1

1 2
3 4
5 6
7 8

In [ ]:
with open('test.txt') as file:
  for line in file.readLines():
    print(line.strip())

들여쓰기가 사라졌다? (실제 텍스트가 뭔지 몰라서요)

In [ ]:
for i in range(2):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1

## 리스트 내포(comprehension)

In [ ]:
num = [1, 3, -2, 5]
a = [n * 2 for n in num]
print(a)

[2, 6, -4, 10]

In [ ]:
print([n * 2 for n in num if n > 0])

[2, 6, 10]

In [ ]:
alpa = 'ab'
print([(i, j) for i in num for j in alpa if i > 0])

[(1, 'a'), (1, 'b'), (3, 'a'), (3, 'b'), (5, 'a'), (5, 'b')]

## 단순 for 문의 적용

### 삼각수 출력

In [ ]:
n, s = 10, 0
for i in range(1, n + 1):
  s += i
  print(s, end = ' ')

1 3 6 10 15 21 28 36 45 55

### 피보나치 수열

In [ ]:
# 피보나치 수열
n, a, b = 10, 0, 1
for i in range(n):
  print(a, end = ' ')
  a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

### 구구단

In [ ]:
# 구구단
n = 5
for i in range(1, 10):
  print(f'{n}, {i}, {n * i}')

5, 1, 5
5, 2, 10
5, 3, 15
5, 4, 20
5, 5, 25
5, 6, 30
5, 7, 35
5, 8, 40
5, 9, 45

### 숫자 피라미드

In [ ]:
# 숫자 피라미드
n = ''
for i in '123456789':
  n += i
  print('{0:>9} * 8 + {1} = {2:<9}'.format(n, i, int(n) * 8 + int(i)))

        1 * 8 + 1 = 9
       12 * 8 + 2 = 98
      123 * 8 + 3 = 987
     1234 * 8 + 4 = 9876
    12345 * 8 + 5 = 98765
   123456 * 8 + 6 = 987654
  1234567 * 8 + 7 = 9876543
 12345678 * 8 + 8 = 98765432
123456789 * 8 + 9 = 987654321

### 소수 판단

In [ ]:
# 소수 판단
n = 1234567
for i in range(2, n):
  if n % i != 0:
    print('is composite')
    break
else:
  print('is prime')

is composite

## 다중 for 문

### 과제: 구구단 출력
- 2단 ~ 9단
- 단을 세로로 출력
- 단과 단 사이는 빈 줄로 구분

In [ ]:
for a in range(2, 10):
  for b in range(1, 10):
    print('{0}×{1}={2:<3}'.format(a, b, a * b), end = ' ')
  print()

2×1=2   2×2=4   2×3=6   2×4=8   2×5=10  2×6=12  2×7=14  2×8=16  2×9=18
3×1=3   3×2=6   3×3=9   3×4=12  3×5=15  3×6=18  3×7=21  3×8=24  3×9=27
4×1=4   4×2=8   4×3=12  4×4=16  4×5=20  4×6=24  4×7=28  4×8=32  4×9=36
5×1=5   5×2=10  5×3=15  5×4=20  5×5=25  5×6=30  5×7=35  5×8=40  5×9=45
6×1=6   6×2=12  6×3=18  6×4=24  6×5=30  6×6=36  6×7=42  6×8=48  6×9=54
7×1=7   7×2=14  7×3=21  7×4=28  7×5=35  7×6=42  7×7=49  7×8=56  7×9=63
8×1=8   8×2=16  8×3=24  8×4=32  8×5=40  8×6=48  8×7=56  8×8=64  8×9=72
9×1=9   9×2=18  9×3=27  9×4=36  9×5=45  9×6=54  9×7=63  9×8=72  9×9=81

### 예시들:

In [ ]:
# amicable numbers
bound = 10000
for n in range(2, bound + 1):
  sum = 1
  for i in range(2, n//2 + 1):
    if n % i == 0: sum += i
  if sum <= n: continue
  sum2 = 1
  for i in range(2, sum//2 + 1):
    if sum % i == 0: sum2 += i
  if sum2 == n: print(n, sum)

220 284
1184 1210
2620 2924
5020 5564
6232 6368

In [ ]:
# Pascal's triangle
row = 6
f = [1] # factorial rainbow table
for i in range(1, row + 1):
  f.append(i * f[i - 1])

for n in range(row + 1):
  print(' ' * 3 * (row - n), end = '')
  for r in range(n + 1):
    a = f[n] // (f[r] * f[n - r])
    print('%6d' % a, end = '')
  print()

                       1
                    1     1
                 1     2     1
              1     3     3     1
           1     4     6     4     1
        1     5    10    10     5     1
     1     6    15    20    15     6     1

In [ ]:
# ranking
a = [61, 100, 67, 88, 25, 56, 55, 67, 76, 56]
n = len(a)
b = [1] * n
for i in range(n):
  for j in range(i + 1, n):
    if a[i] < a[j]: b[i] += 1
    if a[i] > a[j]: b[j] += 1

for x, y in zip(a, b):
  print(x, y)

61 6
100 1
67 4
88 2
25 10
56 7
55 9
67 4
76 3
56 7